version: "3.9"

services:
  postgres:
    image: postgres:14
    container_name: task-postgres
    environment:
      POSTGRES_DB: taskdb
      POSTGRES_USER: taskuser
      POSTGRES_PASSWORD: taskpass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: task-service
    depends_on:
      - postgres
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/taskdb
      DB_USERNAME: taskuser
      DB_PASSWORD: taskpass
    ports:
      - "8080:8080"

volumes:
  postgres_data: