spring:
  application:
    name: task-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      connection-timeout: 5000
      validation-timeout: 3000
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true # if we want to show sql for debugging
  
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      # serialize for Kafka, which stores by bytes
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  # H2 Console for development (access at /h2-console)
  # h2:
  #   console:
  #     enabled: true
  #     path: /h2-console
    
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: when_authorized
      # get liveness and readiness probes from /health
      probes:
        enabled: true
      group:
        readiness:
          # readinessState: built-in indicator, becomes UP after app finishes initializing
          # db: check if database is accessible using a simple query
          include: readinessState, db

server:
  port: 8080

